TODO.md
program.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
vent/
.env/

# pytest
.pytest_cache/
*.log
*.coverage
coverage.xml
htmlcov/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
